{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bed dream</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- CSS materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    
</head>
<body>
     <!--configurando a navbar-->
     <header>
        <nav class="blue">         
            <div class="container">
            <div class="nav-wrapper" >
              <a href="{% url 'home' %}" class="brand-logo">Bed Dreams</a>
              <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
              <ul class="right hide-on-med-and-down">
                {% if not user  %}
                <li><a href="{% url 'login' %}">Login</a></li>               
                <li><a href="{% url 'cadastre' %}">Crie seu cadastro</a></li>
                {% else %}
                <li>{{user|title}}</li>
                <li><a href='http://127.0.0.1:8000/accounts/logout'>Deslogar</a></li> 
                {% endif %}    
                <li><a href="{% url 'produtos' %}">Veja nossos produtos</a></li>
                <li><a href="{% url 'carrinho' %}">Veja seu carrinho</a></li>
              </ul>
              <ul class="side-nav" id="mobile-demo">
                {% if not user  %}
                <li><a href="{% url 'login' %}">Login</a></li>               
                <li><a href="{% url 'cadastre' %}">Crie seu cadastro</a></li>
                {% else %}
                <li><a href='accounts/logout'>Deslogar</a></li> 
                {% endif %}    
                <li><a href="{% url 'produtos' %}">Veja nossos produtos</a></li>
                <li><a href="{% url 'carrinho' %}">Veja seu carrinho</a></li>
              </ul>
            </div>
          </nav>
    </header> 
  
    <!--formulario de cadastro-->
    <section class="container section">
        <div class="row">
          <div class="col s12 l6">
            <h4 class="center">Bem vindo a Bed Dreams</h4>
            <div class="slider">
              <ul class="slides">
                <li><img src="{% static '/img/cama1.jpg' %}"  alt="banner"></li>
                <li><img src="{% static '/img/cama2.jpg' %}"  alt="banner"></li>
                <li><img src="{% static '/img/cama3.jpg' %}"  alt="banner"></li>
              </ul>
            </div>
            <h6 class="center"><b>Cadastre-se e compre sua cama perfeita</b></h6>
          </div>


            <div class="col s12 l5">
              <form action="" method="POST">
                {% csrf_token %}
                <h4 class="center-align">Crie seu cadastro</h4>

                <div class="input-field">
                  <i class="material-icons prefix">account_box</i>
                  <input type="text" id="nome" name="username" required>
                  <label for="nome">Username</label>
                </div>

                <div class="input-field">
                  <i class="material-icons prefix">email</i>
                  <input type="email" id="email" name="email" required>
                  <label for="email">E-mail</label>
                </div>

                <div class="input-field">
                  <i class="material-icons prefix">password</i>
                  <input type="password" id="senha" name="password" required>
                  <label for="senha">Crie sua senha</label>
                </div>
                <div>                               
                      <input type="checkbox" id="box" class="filled-in">
                      <label for="box">Eu aceito <b class="blue-text">os Termos de Uso e Política de Privacidade</b>.</label>
                </div>

                <div class="center">

                  <button class="btn blue waves-effect waves-light" type="submit" name="action">Criar
                    <i class="material-icons right">send</i>
                  </button>

                </div>

                        
              </form>
            </div>
        </div>        
    </section>
      

    <!--rodapé-->
    <footer class="page-footer blue ">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Dedicado a fins educacionais</h5>
              <p class="grey-text text-lighten-4">Site totalmente dedicado a fins educacionais sem intenção de denegrir
                qualquer imagem de pessoas utilizadas no site.</p>
            </div>          
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2022 Copyright Wanderson, Todos os direitos reservados.         
          </div>
        </div>
      </footer>

    <!--Jquery-->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <!--Js materialize-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>   
    <script>
    $( document ).ready(function(){
        
        //botões do menu
        $(".button-collapse").sideNav();
        //slider
        $('.slider').slider();
    });   
    </script>
</body>
</html>