{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bed dream</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- CSS materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

</head>
<body>
    
    <!--configurando a navbar-->
    <header>
        <nav class="blue">         
            <div class="container">
            <div class="nav-wrapper">
              <a href="#!" class="brand-logo">Bed Dreams</a>
              <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
              <ul class="right hide-on-med-and-down">
                <li><a href="login.html">Login</a></li>
                <li><a href="cadastre.html">Crie seu cadastro</a></li>
                <li><a href="produtos">Veja nossos produtos</a></li>
              </ul>
              <ul class="side-nav" id="mobile-demo">
                <li><a href="login.html">login</a></li>
                <li><a href="cadastre-se.html">Crie seu cadastro</a></li>
                <li><a href="produtos.html">Veja nossos produtos</a></li>
              </ul>
            </div>
          </nav>
    </header>


    <!--slider-->
    <div class="slider">
        <ul class="slides">
          <li>
            <img src="{% static '/img/cansado.jpg' %}"  alt="bravo"> <!-- random image -->
            <div class="caption center-align">
              <h3>Cansado de ter uma noite de sono ruim?</h3>
            </div>
          </li>
          <li>
            <img src="{% static '/img/sonhos.png' %}" alt="dormir"> <!-- random image -->
            <div class="caption left-align">
              <h3>Então venha conferir a Bed Dreams a loja de camas que você precisa ver!</h3>
              <h5 class="light grey-text text-lighten-3">Durma bem com nossas camas, tenha ótimos sonhos e acorde motivado
                para começar seu dia!!!.</h5>
            </div>
          </li>

        </ul>
      </div>

      <!-- conteudo do meu site-->
      <div class="row container">
        <section class="red col s12 m6 l9" >
          <h5 class="light"> noticias</h5>

          <article class="col s12 l6 xl4">
            <div class="card">
              <div class="card-image">
                <img src="{% static '/img/insonia.png' %}"  alt="banner">               
              </div>
              <div class="card-content">
                <span class="card-title">Card Title</span>
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
              </div>
              <div class="card-action">
                <a href="#">This is a link</a>
              </div>
            </div>
          </article>
                    

          <article class="col s12 l6 xl4">
            <div class="card">
              <div class="card-image">
                <img src="{% static '/img/camade.jpg' %}"  alt="banner">               
              </div>
              <div class="card-content">
                <span class="card-title">Card Title</span>
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
              </div>
              <div class="card-action">
                <a href="#">This is a link</a>
              </div>
            </div>
          </article>

          <article class="col s12 l6 xl4">
            <div class="card">
              <div class="card-image">
                <img src="{% static '/img/gato.jpg' %}"  alt="banner">               
              </div>
              <div class="card-content">
                <span class="card-title">Card Title</span>
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
              </div>
              <div class="card-action">
                <a href="#">This is a link</a>
              </div>
            </div>
          </article>

               
      </div>

      <!--rodapé-->

      <footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Footer Content</h5>
              <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Links</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2022 Copyright Text
          <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
          </div>
        </div>
      </footer>

    <!--Jquery-->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <!--Js materialize-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>   
    <script>
    $( document ).ready(function(){
        
        //botões do menu
        $(".button-collapse").sideNav();
        //slider
        $('.slider').slider();
    });   
    </script>
</body>
</html>