{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bed dream</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- CSS materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    
</head>
<body>
    
    <!--configurando a navbar-->
    <header>
        <nav class="blue">         
            <div class="container">
            <div class="nav-wrapper" >
              <a href="{% url 'home' %}" class="brand-logo">Bed Dreams</a>
              <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
              <ul class="right hide-on-med-and-down">
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'cadastre' %}">Crie seu cadastro</a></li>
                <li><a href="{% url 'produtos' %}">Veja nossos produtos</a></li>
              </ul>
              <ul class="side-nav" id="mobile-demo">
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'cadastre' %}">Crie seu cadastro</a></li>
                <li><a href="{% url 'produtos' %}">Veja nossos produtos</a></li>
              </ul>
            </div>
          </nav>
    </header>


    <!--slider das fotos configurado com jquery-->
    <div class="slider">
        <ul class="slides">
          <li>
            <img src="{% static '/img/cansado.jpg' %}"  alt="bravo"> 
            <div class="caption center-align">
              <h3>Cansado de ter uma noite de sono ruim?</h3>
            </div>
          </li>
          <li>
            <img src="{% static '/img/sonhos.png' %}" alt="dormir"> 
            <div class="caption left-align">
              <h3>Então venha conferir a Bed Dreams a loja de camas que você precisa ver!</h3>
              <h5 class="light grey-text text-lighten-3">Durma bem com nossas camas, tenha ótimos sonhos e acorde motivado
                para começar seu dia!!!.</h5>
            </div>
          </li>

        </ul>
      </div>

      <!-- conteudo do meu site-->
      <div class="row container">
        <section class="col s12 m6 l9" >
          <h5 class="light">Últimos produtos postados.</h5>

          <article class="col s12 l6 xl4">
            <div class="card">
              <div class="card-image">
                <img src="{% static '/img/insonia.png' %}"  alt="banner">               
              </div>
              <div class="card-content">
                <span class="card-title">Cama da insônia.</span>
                <p>Aquela cama para pessoas que sofrem a noite com a cabeça a mil pensando sobre a vida,
                  trabalho, faculdade e dentre outros tipos de problemas. Essa cama é dedicada a essas pessoas,
                  ja que ela vem preparada para te confortar a noite toda, ela ja vem comportada
                  com um kit de anti-stress e vem também com um kit de abafador de som para você conseguir focar no sono
                  sem ser incomodado.</p>
              </div>
              <div class="card-action">
                <a href="#">Clique aqui para conferir!!!</a>
              </div>
            </div>
          </article>

          <article class="col s12 l6 xl4">
            <div class="card">
              <div class="card-image">
                <img src="{% static '/img/camade.jpg' %}"  alt="cama">               
              </div>
              <div class="card-content">
                <span class="card-title">Cama do dorme fácil.</span>
                <p>Essa cama é a mais simples que temos em nosso catálogo ja que é dedicada para as pessoas 
                  que são portadoras do sono fácil "dorme em qualquer lugar mesmo com a pessoa falando com você" aquele 
                  intervalo na hora do trabalho é so puxar da mochila e descansar, Já que ela vem com um kit para ser 
                  transportada isso mesmo levou, montou, dormiu, desmontou e guardou, pratico e facil!!.</p>
              </div>
              <div class="card-action">
                <a href="#">Clique aqui para conferir!!!</a>
              </div>
            </div>
          </article>

          <article class="col s12 l6 xl4">
            <div class="card">
              <div class="card-image">
                <img src="{% static '/img/gato.jpg' %}"  alt="banner">               
              </div>
              <div class="card-content">
                <span class="card-title">Cama dos sonhos.</span>
                <p>Bom esse produto ainda está em teste pelo fato dela envolver questões financeiras!! a cama é dedicada a pessoas que
                   são preguiçosas e se deixar dorme o dia todo, nessa cama é possível você receber dormindo, porém ainda está em teste.
                   Sonho de qualquer pessoa receber dinheiro dormindo, como o produto não está finalizado não está habilitado para compra
                  somente para visualização.</p>
              </div>
              <div class="card-action">
                <a href="#">Visualize clicando aqui!!</a>
              </div>
            </div>
          </article>
        </section>  

          <!--configuração do feedback-->
        <aside class="col s12 m6 l3 ">
          <h5>Feedbacks</h5>
          <ul class="collection">
            <li class="collection-item avatar">
              <img src="{% static '/img/feed.jpg' %}" alt="feedback" class="circle">
              <span class="title">Cliente</span>
              <p>Excelente produto  <br>
                 Solicitei até uma na minha cela.
              </p>
              <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
            </li>
            <li class="collection-item avatar">
              <img src="{% static '/img/bolso.jpg' %}" alt="feedback" class="circle">             
              <span class="title">Cliente 2</span>
              <p>Produto de ótima qualidade <br>
                 Solicitei para toda a família.
              </p>
              
            </li>
            <li class="collection-item avatar">
              <img src="{% static '/img/osama.jpg' %}" alt="feedback" class="circle">
              <span class="title">Cliente 3</span>
              <p>عالي بستر <br>
                چې بله ورځ له خوبه نه ویده شوی تر نن ورځې پورې
              </p>          
            </li>
            <li class="collection-item avatar">
              <img src="{% static '/img/trump.jpg' %}" alt="feedback" class="circle">
              <span class="title">Cliente 4</span>
              <p>very good and comfortable<br>
                I will ask for all my country
              </p>
            </li>
          </ul>

            <!--parte explicando o produto-->
          <h5 class="light">Sobre o Bed Dreams.</h5>
          <div class="card blue center">
            <div class="card-content white-text">
              <i class="large material-icons">airline_seat_individual_suite</i>
              <p>Bom a Bed Dreams veio com finalidade de ajudar pessoas que tem dificuldade com o sono,
                visando inovar o mercado atual de camas e tentando criar um produto que possa suprir a necessidade da pessoa.
                Nossa equipe é composta de 1 pessoa atualmente o fundador do site "Wanderson" que busca melhorar 
                o mercado atual visando sempre ter feedbacks para tentar evoluir e se adaptar.
                

              </p>
            </div>
          </div>

        </aside>           
      </div>

      <!--rodapé-->

      <footer class="page-footer blue ">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Dedicado a fins educacionais</h5>
              <p class="grey-text text-lighten-4">Site totalmente dedicado a fins educacionais sem intenção de denegrir
                qualquer imagem de pessoas utilizadas no site.</p>
            </div>          
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2022 Copyright Wanderson, Todos os direitos reservados.         
          </div>
        </div>
      </footer>

    <!--Jquery-->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <!--Js materialize-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>   
    <script>
    $( document ).ready(function(){
        
        //botões do menu
        $(".button-collapse").sideNav();
        //slider
        $('.slider').slider();
    });   
    </script>
</body>
</html>