{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bed dream</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- CSS materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    
</head>
<body>
     <!--configurando a navbar-->
     <header>
        <nav class="blue">         
            <div class="container">
            <div class="nav-wrapper" >
              <a href="{% url 'home' %}" class="brand-logo">Bed Dreams</a>
              <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
              <ul class="right hide-on-med-and-down">
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'cadastre' %}">Crie seu cadastro</a></li>
                <li><a href="{% url 'produtos' %}">Veja nossos produtos</a></li>
              </ul>
              <ul class="side-nav" id="mobile-demo">
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'cadastre' %}">Crie seu cadastro</a></li>
                <li><a href="{% url 'produtos' %}">Veja nossos produtos</a></li>
              </ul>
            </div>
          </nav>
    </header>

          <!--configuração do login-->
        <div class="row">
            <div class="col s12 m4 offset-m4">
                <div class="card">
                    <div class="card-action center-align blue lighten-1 white-text">
                        <h3>Login</h3>
                    </div>
                    <div class="card-content">
                        <div class="form-field">
                            <label for="username">Login</label>
                            <input type="text" id="username">
                        </div><br>
                        <div class="form-field">
                            <label for="password">Senha</label>
                            <input type="password" id="password">
                        </div><br>
                        <div class="form-field">               
                            <input type="checkbox" id="lembre">
                            <label for="lembre">Lembrar-me</label>
                        </div><br>
                        <div class="form-field center-align">
                            <button class="btn-large blue waves-effect waves-dark">Entre</button>
                        </div><br>
                    </div>            
                </div>
            </div>    
        </div>  


  
      

    <!--rodapé-->
    <footer class="page-footer blue ">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Dedicado a fins educacionais</h5>
              <p class="grey-text text-lighten-4">Site totalmente dedicado a fins educacionais sem intenção de denegrir
                qualquer imagem de pessoas utilizadas no site.</p>
            </div>          
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2022 Copyright Wanderson, Todos os direitos reservados.         
          </div>
        </div>
      </footer>

    <!--Jquery-->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <!--Js materialize-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>   
    <script>
    $( document ).ready(function(){
        
        //botões do menu
        $(".button-collapse").sideNav();
        //slider
        $('.slider').slider();
    });   
    </script>
</body>
</html>